
@{
    ViewBag.Title = "AddGenus";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model YuvamNerede.Model.Models.ViewModels.GenusVM
<section class="content-header">
    <h1>
        Genus Ekleme İşlemi
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-9">

            @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessagesPart.cshtml")
            <div class="box box-primary">
                <!-- form start -->
                @using (Html.BeginForm())
            {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name)
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Cins adı" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    
                          <div class="form-group">
                              @Html.LabelFor(x=>x.CategoryName)
                              @Html.TextBoxFor(x=>x.CategoryName, new{ @class="form-control", @placeholder="Kategorisi"})
                          </div> 
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kayıt</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
